<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %> 

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<h2>Please select a project to view the repository.</h2>
<ul>
    <li><a href="https://github.com/jessochs/wdd230">Project Using JavaScript to retrieve weather, nav, organization, etc.</a> </li>
    <li><a href="https://github.com/jessochs/newProject-cse341">Routes and Controllers Using Node</a> </li>
    <li><a href="https://github.com/jessochs/node-mvc">MVC Using Node and PostgreSQL</a> </li>

</ul>