<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Message block  -->
<%- messages() %> 

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<form id="login-form" action="/account/login" method="post" >
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="account_email" placeholder="Enter a valid email address" required value="<%= locals.account_email %>">
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required><br>
    <input type="submit" value="Login">

    <div>
      <p>No account?</p>
      <a href="/account/registration">Sign-up</a>
  </div>

</form>

