<h1>Jessica Facer Ochs' Project Directory</h1>
<h2>Please select a programming language to view projects.</h2>

<ul>
    <li><a href="/project/python">Python </a> </li>
    <li><a href="/project/csharp">C# </a> </li>
    <li><a href="/project/sql">SQL/Database</a> </li>
    <li><a href="/project/javascript">Node/JavaScript</a> </li>
    <li><a href="/project/dotNet">.Net</a> </li>
    <li><a href="/project/java">Java/C++</a> </li>
    <li><a href="/project/html">HTML/CSS</a> </li>

</ul>