<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Message block  -->
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>



<form action="/inventory/add-classification" method="post" id="new-classification">
  <div>
    <p>Name must be alphabetic characters only!</p>
  </div>
    <label for="Classification">Classification Name: </label>
    <input type="text" id="classificationName" name="classification_name" required>
    <input type="submit" value="Add Classification">

</form>