<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %> 

<%- messages() %> 

<h1>Vehicle Management</h1>
<div>
    <a href="/inv/add-inventory">Add New Inventory</a>
    <a href="/inv/add-classification">Add New Classification</a>
</div>